.three-columns-items {
  @include rem(padding, 118px 0 168px);

  img {
    @include rem(height, 40px);
    width: auto;
  }

  .title h2 {
    @include rem(padding-bottom, 15px);
    text-align: center;
  }

  .description h3 {
    @include rem(padding, 0 106px 91px 103px);
    text-align: center;
  }

  .item-wrapper {
    @include rem(padding-bottom, 78px);
    display: flex;
  }

  .image-wrap {
    @include rem(padding-right, 30px);
    flex: 1 0 auto;
  }

  h4 {
    @include rem(padding-bottom, 15px);
  }

  @include media-breakpoint-down(md) {
    @include rem(padding, 50px 0 70px);

    .description h3 {
      @include rem(padding, 0 0 80px);
    }

    .item-wrapper {
      @include rem(padding-bottom, 40px);
    }
  }
}
