.subscription {
  @include rem(padding-top, 96px);
  background: $dark;

  h2 {
    color: $yellow;
    text-align: center;
  }

  h3 {
    @include rem(padding, 17px 75px 41px 97px);
    color: $gray;
    text-align: center;
  }

  .mail {
    @include rem(padding-bottom, 79px);
    display: flex;
    justify-content: center;
  }

  input {
    @include rem(border-radius, 5px);
    @include rem(font-size, 16px);
    @include rem(height, 50px);
    @include rem(padding-bottom, 5px);
    @include rem(padding-left, 24px);
    @include rem(max-width, 580px);
    border: 0;
    width: 100%;
  }

  button {
    @include rem(border-radius, 5px);
    @include rem(font-size, 16px);
    @include rem(height, 50px);
    @include rem(margin-left, 21px);
    @include rem(width, 126px);
    background: $yellow;
    border: 0;
    text-transform: uppercase;
  }

  .image-wrap {
    @include rem(padding-bottom, 134px);
    display: flex;
    justify-content: center;

    img {
      @include rem(height, 36px);
      @include rem(margin-right, 31px);
      width: auto;
    }

    img:first-child {
      @include rem(margin-left, 31px);
    }
  }

  @include media-breakpoint-down(lg) {
    form {
      input {
        @include rem(width, 400px);
      }
    }
  }

  @include media-breakpoint-down(md) {
    .mail {
      @include rem(padding-bottom, 79px);
    }

    h3 {
      @include rem(padding, 17px 10px 41px 10px);
    }

    form {
      padding-left: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    .mail {
      @include rem(padding-bottom, 79px);
    }

    form {
      display: flex;

      input {
        @include rem(padding, 5px 20px);
        border-radius: 5px 0 0 5px;
        width: auto;
      }

      button {
        @include rem(font-size, 12px);
        @include rem(width, 50px);
        border-radius: 0 5px;
        margin-left: 0;
      }
    }
  }
}
